*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(ualbanyfountain.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding:10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid #fff;

}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display:flex;
}

.navbar ul li a{
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: None;
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    transition: all ease 0.5s;

}

.navbar ul li a:hover {
    background: rgba(255, 217, 0, 0.932);;
    border-radius: 6px;
}
.navbar ul li a.active{
    background:rgba(255, 217, 0, 0.932);
    border-radius: 6px;

}
.Table-Title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 20%;
    background-color: #fff;
    background-size: cover
}

#table{
    margin: 5px auto;

}