*{
    margin: 0;
    padding: 0;
    font-style: sans-serif;
}
.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(ualbanyfountain.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding:10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    border-bottom: 1px solid #fff;

}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    display:flex;
}

.navbar ul li a{
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: None;
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    transition: all ease 0.5s;

}

.navbar ul li a:hover {
    background: rgba(255, 217, 0, 0.932);;
    border-radius: 6px;
}
.navbar ul li a.active{
    background:rgba(255, 217, 0, 0.932);
    border-radius: 6px;

}
  .btn_round {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .btn_round:hover {
    color: #fff;
    background: #6b4acc;
    border: 1px solid #6b4acc;
  }
  
  .btn_content_outer {
    display: inline-block;
    width: 85%;
  }
  .close_c_btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: 30px;
    border-radius: 50%;
    background: #ededed;
    border: 1px solid #ccc;
    color: #ff5c5c;
    text-align: center;
    cursor: pointer;
  }
  
  .add_icon {
    padding: 10px;
    border: 1px dashed #aaa;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
  }
  .add_group_btn {
    display: flex;
  }
  .add_group_btn i {
    font-size: 32px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .add_group_btn span {
    margin-top: 8px;
  }
  .add_group_btn,
  .clone_sub_task {
    cursor: pointer;
  }
  
  .sub_task_append_area .custom_square {
    cursor: move;
  }
  
  .del_btn_d {
    display: inline-block;
    position: absolute;
    right: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
  }
.col-md-12 {
  background-color: white;
}
.title{
    text-align: center;
  }